body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-size: calc(9px + 3 * (50vw / 340));
  color: white;
  background-color: #0b192f;
}

.main_container {
  margin: 0 auto;
  width: 50vw;
  display: grid;
  grid-template-rows: 54px auto 60px;
  grid-template-areas:
    "nav_header"
    "main_content"
    "page_footer";
  gap: 10px;
}

.menu_button {
  display: none;
}

.menu_button div {
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: white;
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  margin: 0;
  padding-top: 0;
  font-size: 2em;
  font-weight: 200;
}

h3 {
  margin: 0;
  padding-top: 0;
  font-weight: 200;
}

p {
  font-size: 0.5em;
  line-height: 2;
}

.blog_text,
.article_with_image > div.article,
.article_without_image > div.article {
  padding: 1.5em;
}

.nav_header {
  grid-area: nav_header;
  height: 100%;
  background-color: #024161;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.3em;
  margin-left: 20px;
  font-weight: 200;
}

.logo > span {
  color: #ff358f;
}

.nav_links {
  padding-right: 50px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

a.nav_link {
  font-size: 0.97em;
  padding: 0.9em 1em;
  transition: background-color 0.3s;
}

.nav_link:hover {
  background-color: #1f52a4;
}

main {
  grid-area: main_content;
  display: grid;
  grid-template-rows: 200px auto;
  grid-template-columns: 75% auto;
  grid-template-areas:
    "heading_photo heading_photo"
    "articles blog_news";
  gap: 10px;
}

div.heading {
  position: relative;
  grid-area: heading_photo;
}

.heading_image {
  height: 100%;
  width: 100%;
}

.text {
  position: absolute;
  width: 60%;
  bottom: 1.5em;
  left: 1.5em;
}

.articles {
  grid-area: articles;
  display: flex;
  flex-direction: column;
}

.article_with_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.article_with_image > .img-wrap {
  align-self: stretch;
  width: calc(50% - 4px);
  min-width: calc(50% - 4px);
  position: relative;
  overflow: hidden;
}

.article_with_image > .img-wrap > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article_with_image > .img-wrap > img:hover {
  opacity: 0.5;
}

.article_with_image > div:hover > h2 {
  opacity: 0.5;
}

.article_date {
  text-align: center;
  margin: 0;
  font-size: 1.5em;
  position: absolute;
  opacity: 20%;
  top: 5px;
  font-weight: 100;
}

.article_without_image .article_date,
.article_with_image:nth-of-type(2n + 1) .article_date {
  right: 5px;
  left: auto;
}

.article_with_image:nth-of-type(2n) .article_date {
  left: 5px;
  right: auto;
}

.article {
  height: 100%;
  box-sizing: border-box;
}

.article_day {
  font-size: 1.5em;
}

.article_month {
  font-size: 0.9em;
}

.article_with_image:nth-of-type(2n) {
  flex-direction: row-reverse;
  text-align: right;
}

.blog_news {
  grid-area: blog_news;
  display: flex;
  flex-direction: column;
}

.blog_post {
  margin-bottom: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.blog_post > img {
  width: 100%;
  height: auto;
}

.article_without_image {
  position: relative;
}

.post-1 {
  background: #9d27b0;
}

.post-2 {
  background: #9bb800;
}

.post-3 {
  background: #ed5120;
}

.post-4 {
  background: #9d27b0;
}

.post-5 {
  background: #2d95bb;
}

footer {
  grid-area: page_footer;
  background-color: #024161;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}

footer p {
  font-size: 0.5em;
  font-weight: 100;
  padding: 0 20px;
  line-height: 0.7;
  opacity: 50%;
}

@media (max-width: 1400px) {
  body {
    font-size: calc(7px + 3 * (768px / 340));
  }

  .main_container {
    width: 768px;
    min-height: 100vh;
  }

  a.nav_link {
    padding: 1.25em 1em;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0 10px;
    font-size: calc(7px + 3 * (100vw / 340));
  }

  .main_container {
    grid-template-rows: 150px auto 100px;
    width: 100%;
    gap: 20px;
  }

  .menu_button {
    display: block;
    margin-top: 1em;
  }

  .nav_header {
    height: 180px;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav_links {
    display: none;
  }

  p {
    font-size: 1em;
    opacity: 50%;
  }

  a.nav_link {
    font-size: 1.5em;
    padding: 1em;
  }

  .logo,
  h3 {
    font-size: 2.5em;
  }

  .logo {
    margin: auto;
  }

  h2 {
    padding-right: 1em;
    font-size: 3em;
  }

  main {
    grid-template-columns: 65% auto;
    gap: 20px;
  }

  .text {
    width: 80%;
    bottom: 2.5em;
    left: 2.5em;
  }

  .article_with_image {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .article_with_image > .img-wrap {
    width: 100%;
    min-width: 100%;
    overflow: visible;
  }

  .article_with_image > .img-wrap > img {
    position: relative;
  }

  .article_with_image > div.article {
    position: relative;
    margin: 0;
    padding-right: 3em;
  }

  .article_with_image > img {
    width: 100%;
    height: 50%;
  }

  .article_with_image > div {
    align-self: center;
  }

  .blog_text,
  .article_with_image > div.article,
  .article_without_image > div.article {
    padding: 2.5em;
  }

  .article_with_image:nth-of-type(2n + 1) .article_date,
  .article_with_image:nth-of-type(2n) .article_date {
    margin: 0;
    font-size: 2em;
    top: 10px;
    right: 10px;
    left: auto;
  }

  .article_without_image .article_date {
    position: relative;
    font-size: 2em;
  }

  .article_with_image:nth-of-type(2n) {
    align-self: center;
    flex-direction: column;
    text-align: left;
  }

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
  }

  footer p {
    margin-bottom: 0;
    opacity: 50%;
  }
}

@media (max-width: 480px) {
  main {
    grid-template-rows: 400px auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      "heading_photo heading_photo"
      "articles articles"
      "blog_news blog_news";
  }

  .main_container {
    grid-template-rows: 180px auto 140px;
    width: 100%;
    gap: 20px;
  }

  .nav_header {
    height: 100%;
    justify-content: space-around;
  }

  .logo {
    font-size: 3.5em;
  }

  .heading h2 {
    font-size: 4em;
  }

  .articles p,
  .blog_news p {
    font-size: 1em;
  }

  .articles h2,
  .blog_news h2 {
    font-size: 4em;
  }

  .article_with_image:nth-of-type(2n + 1) .article_date,
  .article_with_image:nth-of-type(2n) .article_date {
    font-size: 2.5em;
  }
}
